@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500);

.image-error {
    display: block;
    margin: 0 auto;
    height: 50%;
}

body {
    width: 100%;
    background: url('../images/background.jpg') fixed no-repeat;
    background-size: cover;
    overflow-x: hidden;
    background-repeat: no-repeat;
}

.back-div {
    left: 0;
    right: 0;
    margin: auto;
    width: 393px;
}

button {
    margin-left: 40.5px;
    margin-right: 40.5px;
    margin-top: 10px;
    border: 0;
    border-top: 1px solid #f0a18b;
    border-radius: 3px;
    background: #e76744;
    width: 312px;
    height: 45px;
    color: #fff;
    font-size: 26px;
    font-family: 'Ubuntu';
    -webkit-text-shadow: 0px 1px 1px #000;
    -moz-text-shadow: 0px 1px 1px #000;
    text-shadow: 0px 2px 1px #000;
    -webkit-box-shadow: 0px 1px 1px #000;
    -moz-box-shadow: 0px 1px 1px #000;
    box-shadow: 0px 1px 1px #000;
}

button:hover {
    background-color: darkorange;
}

.main-div {
    position: absolute;
    top: 55%;
    width: 50%;
    background-color: white;
    margin-left: 25%;
    border-radius: 3px;
    opacity: 0.7; /* Значение прозрачности */
    filter: alpha(Opacity=70); /* Прозрачность в IE */
    padding: 2px;
    text-orientation: rotate-left;

}