@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}

body {
    width: 100%;
    background: url('../images/background.jpg') no-repeat fixed;
    background-size: cover;
    overflow-x: hidden;
}

h1 {
    width: 100%;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    color: #fff5f2;
    letter-spacing: 4px;

}

h2 {
    font-family: 'Roboto Condensed', sans-serif;
    text-indent: 48px;
    margin-bottom: 10px;
    width: 100%;
    color: #e74f42;
    letter-spacing: 4px;
    text-align: center;
}

h3 {
    font-family: 'Roboto Condensed', sans-serif;
    text-indent: 24px;
    text-align: center;
    margin-bottom: -10px;
}

h4 {
    font-family: 'Roboto Condensed', sans-serif;
    text-indent: 24px;
}

.big-input {
    width: 312px;
}

.auth-input {
    width: 242px;
}

.big-input,
.auth-input {
    height: 40px;
    background: #242c32;
    border: 0;
    border-radius: 3px;
    color: #fff;
    border-bottom: 1px solid #646c72;
    margin-left: 40px;
    margin-bottom: 10px;
    outline: 0;
    padding-left: 70px;
    font-family: 'Roboto Condensed', sans-serif;

}

.input-checkbox-taketest {
    margin: 0 auto;
    width: auto;
    height: auto;
}

.label-checkbox {
    font-family: 'Roboto Condensed', sans-serif;
    display: inline;
    text-indent: 24px;
    margin-left: 40px;
}

textarea {
    background: #242c32;
    border: 0;
    border-radius: 3px;
    color: #fff;
}

.input-create-choose {
    width: auto;
    height: auto;
    /* Double-sized Checkboxes */
    -ms-transform: scale(3); /* IE */
    -moz-transform: scale(3); /* FF */
    -webkit-transform: scale(3); /* Safari and Chrome */
    -o-transform: scale(3); /* Opera */
    padding: 10px;
    margin-top: 20px;
}

.create-test-input {
    width: 312px;
    height: 40px;
    background: #242c32;
    border: 0;
    border-radius: 3px;
    color: #fff;
    border-bottom: 1px solid #646c72;
    margin-left: 40px;
    outline: 0;
    padding-left: 70px;
    font-family: 'Roboto Condensed', sans-serif;
    margin-bottom: 10px;
}

.big-button {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
    border: 0;
    width: 312px;
    height: 45px;
    font-size: 26px;
}

.table-button {
    border-left: 1px solid #f0a18b;
    width: 120px;
    min-height: 45px;
    font-size: 20px;
}

.page-button {
    border: 0;
    width: 20px;
    height: 20px;
    color: #fff;
    font-size: 10px;
}

.big-button,
.table-button,
.page-button {
    border-top: 1px solid #f0a18b;
    border-radius: 3px;
    background: #e76744;
    color: #fff;
    font-family: 'Ubuntu';
    -webkit-text-shadow: 0 1px 1px #000;
    -moz-text-shadow: 0 1px 1px #000;
    text-shadow: 0 2px 1px #000;
    -webkit-box-shadow: 0 1px 1px #000;
    -moz-box-shadow: 0 1px 1px #000;
    box-shadow: 0 1px 1px #000;
}

.button-td {
    width: 130px;
}

form {
    margin-bottom: 0 !important;
}

.create-test-description {
    width: 312px;
    margin-left: 40px;
}

li {
    font-family: 'Roboto Condensed', sans-serif;
    text-indent: 20px;
}

button:hover {
    background-color: darkorange;
}

p {
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-family: 'Ubuntu';
    margin-top: 20px;
}

/*основной блок страниц авторизации*/

#page-wrapper {
    min-height: 600px;
    height: auto;
    margin-bottom: 90px;
    width: 100%;
}

/*блок хэдера*/

#header {
    width: 100%;
    height: 5%;
    padding-top: 0;
    margin-left: 0;
    text-align: center;
}

/*блок футера*/

#footer {
    height: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    color: black;
    bottom: 0;
    width: 100%;
}

/*страница логина*/

#login {
    width: 393px;
    height: 390px;
    margin: auto;

}

/*страница регистрации*/

#registration {
    padding-bottom: 100px;
    height: auto;
    margin: auto auto 50px;

}

#login,
#registration {
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    border-radius: 3px;
    border-top: 1px solid #464c4c;
    background: rgb(26, 34, 37);
    background: -moz-linear-gradient(top, rgba(26, 34, 37, .60) 0%, rgba(75, 87, 94, 0.60) 15%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(26, 34, 37, .60)), color-stop(65%, rgba(75, 87, 94, .60)));
    background: -webkit-linear-gradient(top, rgba(26, 34, 37, .60) 0%, rgba(75, 87, 94, .60) 15%);
    background: -o-linear-gradient(top, rgba(26, 34, 37, .60) 0%, rgba(75, 87, 94, .60) 15%);
    background: -ms-linear-gradient(top, rgba(26, 34, 37, .60) 0%, rgba(75, 87, 94, .60) 15%);
    background: linear-gradient(to bottom, rgba(26, 34, 37, .60) 0%, rgba(75, 87, 94, .60) 15%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a2225', endColorstr='#4b575e', GradientType=0);
}

.center-wrapper {
    left: 0;
    right: 0;
    margin: auto;
    width: 393px;
}

.add-question-field {
    left: 0;
    right: 0;
    margin: auto;
    width: 500px;
}

.registration-field {
    left: 0;
    right: 0;
    margin: auto;
    width: 393px;
}

.question-description-create {
    margin-left: 20px;
    text-indent: 24px;
}

.orange-stop {
    color: #e76744;
}

.input-field {
    position: relative;
}

.icon {
    position: absolute;
    left: 65px;
    padding: 5px 0;
    margin-top: 6px;
    height: 20px;
    width: 30px;
    color: #fff;
}

.check-box-input {
    height: 50px;
    top: 20px;
    margin-left: 40px;
}

.image-error {
    display: block;
    margin: 0 auto;
    height: 50%;
}

.number-input {
    background: #242c32;
    border: 0;
    border-radius: 3px;
    border-bottom: 1px solid #646c72;
    color: #fff;
    margin: 15px 50px;
    outline: 0;
    font-family: 'Roboto Condensed', sans-serif;
}

.count-answ {
    margin-left: 20px;
}

.check-box-input-q {
    height: 50px;
    top: 20px;
    margin-left: -100px;
}

.icon:after {
    height: 25px;
    width: 2px;
    position: absolute;
    right: 0;
    top: 2px;
    content: '';
    background: #2e3a42;
    background: -moz-linear-gradient(top, #2e3a42 0%, #3e5360 50%, #2e3a42 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2e3a42), color-stop(50%, #3e5360), color-stop(100%, #2e3a42));
    background: -webkit-linear-gradient(top, #2e3a42 0%, #3e5360 50%, #2e3a42 100%);
    background: -o-linear-gradient(top, #2e3a42 0%, #3e5360 50%, #2e3a42 100%);
    background: -ms-linear-gradient(top, #2e3a42 0%, #3e5360 50%, #2e3a42 100%);
    background: linear-gradient(to bottom, #2e3a42 0%, #3e5360 50%, #2e3a42 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e3a42', endColorstr='#2e3a42', GradientType=0);
}

.color {
    color: #e76744 !important;
}

.border-color:after {
    border-color: #e76744 !important;
}

.forgot {
    margin-left: 40.5px;
    margin-right: 40.5px;
    float: right;
    font-size: 12px;
    color: #fff;
    font-family: 'Ubuntu';
}

.header-text {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.divider {
    width: 100%;
    height: 1px;
    background: #2b3741;
    border-bottom: 1px solid #68777f;
    clear: both;
    margin-top: 30px;
}

.reg {
    color: #e67633;
}

.bad-message {
    width: 100%;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 500;
    color: #ff0000;
    margin: 10px auto;
}

.good-message {
    width: 100%;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    color: darkgreen;
    margin: 10px auto;
}

.chose-lang button {
    height: 30px;
    font-size: 20px;
    margin-top: 2px;
    width: 100px;
}

.chose-lang {
    position: absolute;
    top: 15px;
    right: 0;
    margin: auto;
    width: 212px;
}

.code-style {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    left: 20px;
    background-color: gainsboro;

}

.show-role {
    position: absolute;
    top: 15px;
    left: 10px;
    margin: auto;
    width: 300px;
    color: #d3d3d3;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    text-align: left;
}

/*Языковое выпадающее меню*/
.dropdown-text {
    cursor: pointer;
    position: absolute;
    text-indent: 10px;
    line-height: 25px;
    color: white;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .9) inset, 0 1px 3px rgba(0, 0, 0, .1);
    width: 100%;
}

.dropdown-text:after {
    position: absolute;
    right: 6px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 4px 0 4px;
}

.dropdown-text,
.dropdown-content a {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

.dropdown-toggle {
    font-size: 0;
    z-index: 1;
    cursor: pointer;
    position: absolute;
    top: 0;
    border: none;
    padding: 0;
    margin: 0 0 0 -100px;
    background: transparent;
    text-indent: -10px;
    height: 20px;
    width: 100%;
}

.dropdown-toggle:focus {
    outline: 0;
}

.dropdown-content {
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    list-style-type: none;
    position: absolute;
    top: 32px;
    padding: 0;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    text-indent: 10px;
    line-height: 32px;
    width: 140px;
}

.dropdown-content a {
    display: block;
}

.dropdown-content a:hover {
    color: black;
}

.dropdown-toggle:hover ~ .dropdown-text,
.dropdown-toggle:focus ~ .dropdown-text {
}

.dropdown-toggle:focus ~ .dropdown-text {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2) inset, 0 1px 0 rgba(255, 255, 255, 0.8);
    z-index: 2;
}

.dropdown-toggle:focus ~ .dropdown-text:after {
    border-width: 0 4px 5px 4px;
    border-color: transparent transparent #555 transparent;
}

.dropdown-content:hover,
.dropdown-toggle:focus ~ .dropdown-content {
    opacity: 1;
    visibility: visible;
    top: 42px;
}

/*****/

/*меню на странице пользователя*/
.menu button {
    height: 40px;
    text-align: left;
    width: 100%;
}

.header-text {
    font-size: 30px;
    width: 70%;
    margin-left: 15%;
}

.menu {
    padding-top: 100px;
    float: left;
    width: 20%;
}

.main-div {
    width: 60%;
    min-height: 400px;
    height: auto;
    background-color: white;
    margin-left: 25%;
    margin-top: 120px;
    border-radius: 3px;
    opacity: 0.7; /* Значение прозрачности */
    filter: alpha(Opacity=70); /* Прозрачность в IE */
    padding: 2px 2px 15px;
    text-orientation: rotate-left;
}

.error-div {
    position: absolute;
    top: 55%;
    width: 50%;
    background-color: white;
    margin-left: 25%;
    border-radius: 3px;
    opacity: 0.7; /* Значение прозрачности */
    filter: alpha(Opacity=70); /* Прозрачность в IE */
    padding: 2px;
    text-orientation: rotate-left;
}

.red-stop {
    color: #ff0000;
}

.main-div p {
    font-family: 'Roboto Condensed', sans-serif;
    width: 98%;
    padding: 4px;
    color: black;
    text-indent: 24px;
    text-orientation: rotate-left;
    text-align: justify;
}

.header-page {
    margin-top: 10px;
    color: white;
    font-family: inherit;
    font-size: 24px;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #00cccc;
    text-indent: 24px;
    text-align: center;
}

.order-table {
    border-color: black;
    border-width: 1px;
    width: 90%;
    margin-top: 20px;
}

table {
    border-color: black;
    border-width: 1px;
    caption-side: top;
    text-align: center;
    border-collapse: separate;
}

/*table td {
    min-width: 15%;
}*/

table tr {
    border-color: black;
    border-width: 2px;
    caption-side: top;
    text-align: center;
    min-width: 100%;
    border-collapse: separate;
}

.simpleTable {
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0;
    margin: 10px 0px 0px;
    width: 100%;
    left: 0;
    right: 0;
    border: 1px solid #000000;

    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;

    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;

    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;

    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
}

.simpleTable table {
    font-family: 'Roboto Condensed', sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}

.simpleTable tr:last-child td:last-child {
    -moz-border-radius-bottomright: 0;
    -webkit-border-bottom-right-radius: 0;
    border-bottom-right-radius: 0;
}

.simpleTable table tr:first-child td:first-child {
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    border-top-left-radius: 0;
}

.simpleTable table tr:first-child td:last-child {
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
    border-top-right-radius: 0;
}

.simpleTable tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 0;
    -webkit-border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
}

.simpleTable tr:nth-child(odd) {
    background-color: #ffaa56;
}

.simpleTable tr:nth-child(even) {
    background-color: #ffffff;
}

.simpleTable td {
    vertical-align: middle;
    border: 1px solid #000000;
    border-width: 0 1px 1px 0;
    text-align: left;
    padding: 7px;
    font-size: 15px;
    font-family: Arial;
    font-weight: normal;
    min-width: 15%;
    color: #000000;
}

.simpleTable tr:last-child td {
    border-width: 0 1px 0 0;
}

.simpleTable tr td:last-child {
    border-width: 0 0 1px 0;
}

.simpleTable tr:last-child td:last-child {
    border-width: 0 0 0 0;
}

.simpleTable tr:first-child td {
    background: -o-linear-gradient(bottom, #ff7f00 5%, #bf5f00 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #bf5f00));
    background: -moz-linear-gradient(center top, #ff7f00 5%, #bf5f00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#bf5f00");
    background: -o-linear-gradient(top, #ff7f00, bf5f00);
    background-color: #ff7f00;
    border: 0 solid #000000;
    text-align: center;
    border-width: 0 0 1px 1px;
    font-size: 19px;
    font-family: Arial;
    font-weight: bold;
    color: #ffffff;
}

.simpleTable tr:first-child:hover td {
    background: -o-linear-gradient(bottom, #ff7f00 5%, #bf5f00 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff7f00), color-stop(1, #bf5f00));
    background: -moz-linear-gradient(center top, #ff7f00 5%, #bf5f00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff7f00", endColorstr="#bf5f00");
    background: -o-linear-gradient(top, #ff7f00, bf5f00);
    background-color: #ff7f00;
}

.simpleTable tr:first-child td:first-child {
    border-width: 0 0 1px 0;
}

.simpleTable tr:first-child td:last-child {
    border-width: 0 0 1px 1px;
}

.simpleTable caption {
    font-size: 30px;
    text-indent: 3px;
}

.regBack {
    background-color: #ffaa56;
}